@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@font-face {
  font-family: "outward";
  src: url("outward-borders-webfont.ttf");
}
:root {
  --head: #202020;
  --bg: #eee;
  --svgborder: var(--bg);
  --fill: transparent;
  --web: #256d85;
}
.dark-theme {
  --head: #eee;
  --bg: #222831;
  --fill: gold;
  --web: #21e1e1;
}
svg {
  width: 2%;
  position: fixed;
  cursor: pointer;
  box-shadow: 1px 1px 5px #00000025;
  border-radius: 50%;
  padding-left: 0px;
  bottom: 0;
  z-index: 3;
  float: right;
  fill: var(--fill);
  margin: 10px 10px;
  padding: 0.6rem;
  border: #000 !important;
  stroke: #000;
}
svg:hover {
  transition: all 0.3s;
  box-shadow: 1px 1px 10px #00000040;
}

body {
  display: flex;
  flex-direction: column;
  font: 2rem courier;
  animation: fadeIn ease 3s;
  height: 100%;
  text-align: left;
  margin: 0;
  position: relative;
  transition: all 0.3s;
  background: var(--bg);
  color: var(--head);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-weight: 900;
  padding-left: 5vw;
  font-family: outward, serif;
  user-select: none;
  font-size: 10rem;
  position: relative;
  /* background: -webkit-linear-gradient(315deg, var(--web) 5%, #47b5ff);*/

  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-size: 300% 300%;
  animation: gradient 2.5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

span {
  color: var(--head) !important;
  font-family: architects daughter;
  font-size: 3rem;
}
li {
  list-style-type: none;
}
ul,
li {
  padding: 0;
}
a {
  font: 1rem;
  color: var(--head);
  text-decoration: none;
}
.summary-box {
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
summary {
  font-weight: bold;
  user-select: none;
  width: 20vw;
}
details {
  margin-bottom: 0;
}
details > details {
  padding-left: 20px;
  user-select: none;
}

/* media queries */
@media screen and (max-width: 650px) {
  h1 {
    font-size: 6rem;
  }
  span {
    font-size: 2rem;
  }
  details {
    font-size: 1rem;
    display: inline-block;
    width: 100vw;
    padding-bottom: 1vh;
  }
  summary {
    padding: 1vh;
    width: 75vw;
  }
  .summary-box{
    margin-bottom: 50px;
  }
  svg {
    margin-top: 100px;
    width: 3%;
  }
}